* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    position: relative;
}

.container {
    background-color: black;
    /* height: 100%; */
    position: relative;
    min-height: 100vh;
    display: block;
    padding-bottom: 60px;
}

.banner {
    height: 100px;
    background-color: rgb(247,219,13);
    vertical-align: middle;
}

.navbar {
    padding: 10px;
}

.logo {
    display: inline-block;
    font-family: 'Aref Ruqaa', serif;
}

.logo h1 a {
    color: black;
}
.create_account {
    color: black;
    background-color: white;
    /* opacity: 0.5; */
    border-radius: 5px;
    width: 500px;
    padding: 30px;
    margin: 30px auto;
    display: block;
    float: none;
    /* background-color: black; */
}

.record_div{
    width: 700px;
}

.incident_select {
    padding: 3px;
}

select option{
    line-height: 20px;
}

.buttons {
    float: right;
    display: inline-block;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 20px;
    border-radius: 5px;
    background-color: black;
    border-color: black;
}

a {
    text-decoration: none;
    color: rgb(247,219,13);
}
.red-flag, .intervention {
    padding: 0px 100px 0px 100px;
    margin: 30px 0px 30px 0px;
    display: flex;
}

.column input {
    padding: 10px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
}

input[type=file]{
    border-bottom: none;
}

.column input:focus {
    outline: none;
}
.column label {
    margin: 10px 0px;
}

.row {
    display: flex;
    margin: 10px;

}

.column {
    flex: 50%;
}

.column h2 {
    padding-top: 20px;
}

.column_label {
    padding-top: 10px;
}

img {
    width: 500px;
    height: 300px;
}
h2 {
    color: rgb(247,219,13);
}

p {
    color: white;
    line-height: 200%;
}

h2, p {
    padding: 20px;
}

.form_title {
    text-align: center;
}

.form_title h2 {
    color: black;
}

.form_title h4 a, .forgot {
    color: #E89E0C;
}

.btn {
    color: rgb(247,219,13);
}

.btn:hover {
    cursor: pointer;
}

.pt-10{
    padding-top: 10px;
}

.form_fields {
    padding-top: 10px;
}

.footer p {
    text-align: center;
    border-top: 1px solid rgb(247,219,13);
    color: rgb(247,219,13);
    width: 100%;
    padding: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    margin-top: 20px;
}

/* -- user_account.html css --*/
/* -- box -- */
.boxes { 
 color: black;
}


.box {
  float: left;
  width: 20%;
  height: 100px;
  margin: 1em 0.5em 1em 3em;
  background-color:white;
  border-radius: 5px;
  color: black;
}

.box i{
    float: left;
    line-height: 100px;
    font-size: 50px;
    padding-left: 20px;
}
.box p{
    color: black;
    float: left;
    font-weight: bold;
}

/* -- table -- */
.table_content .left{
    width: 20%;
    text-align: center;
    margin: 1em 0.5em 1em 3em;
    background-color: white;
    color: black;
    border-radius: 3px;
}
.table_content .left h4{
    padding:15px 0 0;
    font-size:17px;

}
.table_content .left .menu a{
    color: #3c3e38;
    list-style: none;
    /*padding:10px;*/
}
.table_content .left .menu a:hover, .table_content .left .menu a.active {
    color: rgb(247,219,13);
}

.table_content .left .menu li {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding:20px;
    border-bottom:1px solid #ccc;
}
.table_content .right{
    width: 80%;
}


/* incident table */
table.incident_table {
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 1em;
    border-radius: 3px;
}
table.incident_table td, table.incident_table th {
    border: 1px solid #AAAAAA;
    padding: 10px;
}
table.incident_table tbody td {
    font-size: 13px;
}
table.incident_table thead {
    border-bottom: 2px solid #444444;
}
table.incident_table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
}
table.incident_table thead th:first-child {
    border-left: none;
}
table.incident_table thead tr th.th_width{
    width: 100px;
}

table.incident_table thead tr th.th_actions{
    width:120px;
}
table.incident_table  tbody td .actions a{
    padding: 5px 10px;
    color: black;
}
table.incident_table  tbody td .actions a:hover{
    background-color: black;
}
table.incident_table  tbody td .actions a:hover i{
    color: #f7db0d;
}

table.incident_table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-radius: 0 0 3px 3px;
}
table.incident_table tfoot td {
    font-size: 14px;
}
table.incident_table tfoot .links {
    text-align: right;
    padding: 0px 10px 0px;
}
table.incident_table tfoot .links a{
    display: inline-block;
    background: #000;
    color: rgb(255, 255, 255);
    padding: 7px 12px;
    border-radius: 50%;
}

table.incident_table tfoot .links a.active{
    background-color: rgb(247,219,13);
    color: black;
}

